# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Git
.git/
.gitignore

# MLflow
mlflow.db
mlruns/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Environment
.env
.env.example
